@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: hsl(218, 28%, 13%);
    font-family: "Open Sans", sans-serif;
    color: hsl(0, 0%, 100%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    background-color: hsl(218, 28%, 15%);
}

.navbar img {
    width: 100px;

}

.nav-links{
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
}

.intro {
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 28%, 15%);
    height: auto;
    width: 100%;
    margin: 0px 5px 20px 5px;
    z-index: 0;
}



.intro::before {
    content: '';
    position: absolute;
    top: 33%;
    right: 0;
    width: 500px;
    height: 200px;
    background-image: url(images/bg-curvy-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.intro img {
    width: 80%;
    height: 60%;
    margin:10px 0 0 8%;
}

.intro article {    
    text-align: center;
    justify-items: center;
    height: auto;
    background-color: hsl(218, 28%, 13%);
}

.intro article h4 {
    font-size: 1.6rem;    
    font-weight: 700;
    font-style:normal;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Raleway", sans-serif;
}

.intro article p {
    font-size: 0.98rem;
    font-weight: 400;
    font-style:normal;
    font-family: "Open Sans", sans-serif;
    margin-left: 40px;
    margin-right: 40px;    
}

.intro article button {
    padding: 15px;
    width: 30vh;
    color: hsl(0, 0%, 100%);
    border: 2px solid hsl(198, 82%, 57%);
    border-radius: 25px;
    background-color: hsl(198, 82%, 57%);
    margin-bottom: 20%;
    margin-top: 20px;
}

.service {
    align-items: center;
    text-align: center;
    height: auto;
    margin: 90px 5px 0 5px;
}

.service img {
    width: 70px;
    margin: 50px;
}

.service h6 {
    font-size: 1.2rem;    
    font-weight: 700;
    font-style:normal;
    margin-top: -30px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Raleway", sans-serif;    
}

.service p {
    font-size: 0.9rem;
    font-weight: 400;
    font-style:normal;
    font-family: "Open Sans", sans-serif;
    margin-top: -30px;
    margin-left: 40px;
    margin-right: 40px;   
}


.stay-productive {
    align-items: center;
    text-align: left;
    height: auto;
    margin: 90px 5px 0 5px;   
}

.stay-productive .illustration-stay-productive {
    width: 80%;
    height: 60%;
    margin:40px 0 0 8%;
}

.stay-productive .article {
    text-align: left;
    height: auto;
    margin: 40px;
}

.stay-productive .article h6 {
    font-size: 1.2rem;    
    font-weight: 700;
    font-style:normal;;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;    
}

.stay-productive .article p {
    font-size: 0.9rem;
    font-weight: 400;
    font-style:normal;
    font-family: "Open Sans", sans-serif;  
}


.stay-productive .article span a{
    text-decoration: underline;
    text-underline-offset: 10px;
    color: hsl(176, 68%, 64%);
    font-size: 0.9rem;
    font-weight: 400;
    font-style:normal;
    font-family: "Open Sans", sans-serif;
    gap: 5px;
}

.container {
    position: relative;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 150px 0px 0 2px;
    overflow: hidden;
}


.container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 75.5%;
    width: 40px;
    height: 30px;
    background-image: url(images/bg-quotes.png);
    background-size: cover;
    background-repeat: no-repeat;
}



.card1 {
    position: relative;
    width: 32vh auto;
    height: auto ;
    justify-items: left;
    text-align: left;
    background-color: hsl(219, 30%, 18%);
    border: 5px solid hsl(217, 28%, 15%);
    border-radius: 8px;
    margin: 40px ;
}

.card1 p {
    font-size: 0.8rem;
    font-weight: 300;
    font-style:normal;
    font-family: "Open Sans", sans-serif;
    margin: 20px 20px 0 20px;  
}

.people {
    display:flex;
    align-items: center;
    margin: 20px 20px 20px 20px;
    
}

.people img {
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 50px;
}

#name {
    font-size: 1rem;
    font-weight: 400;
    font-style:normal;
    font-family: "Open Sans", sans-serif;
}

.people span p {
    font-size: 0.8rem;
    font-weight: 300;
    font-style:normal;
    font-family: "Open Sans", sans-serif;
    margin: 3px;
}

.card2 {
    position: relative;
    width: 32vh auto;
    height: auto ;
    justify-items: left;
    text-align: left;
    background-color: hsl(219, 30%, 18%);
    border: 5px solid hsl(217, 28%, 15%);
    border-radius: 8px;
    margin: 40px ;
}

.card2 p {
    font-size: 0.8rem;
    font-weight: 300;
    font-style:normal;
    font-family: "Open Sans", sans-serif;
    margin: 20px 20px 20px 20px;  
}

.card3 {
    position: relative;
    width: 32vh auto;
    height: auto ;
    justify-items: left;
    text-align: left;
    background-color: hsl(219, 30%, 18%);
    border: 5px solid hsl(217, 28%, 15%);
    border-radius: 8px;
    margin: 40px;
}

.card3 p {
    font-size: 0.8rem;
    font-weight: 300;
    font-style:normal;
    font-family: "Open Sans", sans-serif;
    margin: 20px 20px 20px 20px;  
}

.footer {
    margin-top: 250px;
    width: 100%;
    height: auto;
    background-color: hsl(216, 53%, 9%);
}


.email-signup {
    position: relative;
    width: 40vh auto;
    height: auto ;
    justify-items: center;
    text-align: center;
    background-color: hsl(217, 28%, 15%);
    border: 2px solid hsl(216, 53%, 9%, 0.1);
    box-sizing: 2px 2px 2px black;
    border-radius: 8px;
    margin: 0 15px 0 20px;
    top: -185px;
    
}

.email-signup h6{
    font-size: 1.2rem;    
    font-weight: 700;
    font-style:normal;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Raleway", sans-serif;
}

.email-signup p{
    font-size: 1.1rem;
    font-weight: 400;
    font-style:normal;
    font-family: "Open Sans", sans-serif;
    margin: -20px 20px 20px 20px;
}

.email-signup span {
    margin: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#email {
    width: 45vh auto;
    padding: 15px;
    border: 2px solid ;
    border-radius: 25px;
}

#btn {
    width: 45vh auto;
    padding: 15px;
    border: 2px solid hsl(198, 82%, 57%);
    border-radius: 25px;
    margin-bottom: 20px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(198, 82%, 57%);
    font-size: 0.7rem;
    font-weight: 400;
    font-style:normal;
    font-family: "Open Sans", sans-serif;
}

.footer-texts {
    padding: 0 20px 20px 20px;
    width: 90%;
    height: auto;
}

.footer-logo {
    margin-top: 20px;
    margin-left: 50px;
}

.footer-texts span{
    display: flex;
    gap: 30px;
    margin: 30px;
    margin-left: 20px;
}

.footer-texts span img {
    width: 20px auto;
    height: 18px;
}

.footer-texts span p {
    font-size: 0.8rem;
    font-weight: 400;
    font-style:normal;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.footer-texts ul{
    display:list-item;
    list-style: none;
    padding: 15px;
}

/* .footer-texts li {
    margin-left: 20px;
} */

.footer-texts a {
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.social-icons {
    display: flex;
    width: 20px auto;
    gap: 10px;
    color: hsl(0, 0%, 100%);
    align-items: center;
    margin-left: 40%;
}

.footer-bottom{
    width: 100%;
    text-align: center;
    color: #fff;
}

.footer-bottom a{
    color: hsl(198, 82%, 57%);
}

/* 1024px responsive */

@media only screen and (min-width:1024px) {
    .navbar {
        padding: 10px 80px;
    }

    .intro {
        z-index: 0;
    }
 
    .intro::before {
        content: '';
        position: absolute;
        top: 70%;
        right: 5%;
        width: 100%;
        height: 300px;
        background-image: url(images/bg-curvy-desktop.svg);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
    
    .intro img {
        width: 45%;
        height: 50%;
        margin:10px 0 0 26%;
    }
    
    .intro article {    
        width: 40%;
        margin: 10px 0 0 28%;
        background-color: hsl(218, 28%, 15%);
        background: transparent;
    }

    
    .intro article button {
        padding: 15px;
        width: 40vh;
    }
    
    .service {
        margin: 90px 50px 0 50px;
    }

    .col1 {
        display: flex;
    }

    .col2 {
        display: flex;
    }
    
    .service img {
        width: 70px;
        margin: 50px;
    }
    
    .service h6 {    
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .service p {
        font-size: 0.97rem;
        margin-left: 80px;
        margin-right: 80px;   
    }
    
    
    .stay-productive {
        display: flex;  
    }
    
    .stay-productive .illustration-stay-productive {
        width: 70%;
        height: 50%;
    }
    
    .container {
        display: flex;
        width: 90%;
        margin-left: 80px;
    }
    
    
    .container::before {
        content: '';
        position: absolute;
        top: 0;
        right: 93%;
        width: 40px;
        height: 30px;
        background-image: url(images/bg-quotes.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    
    .email-signup {
        width: 140vh auto;
        height: 60vh auto ;
        margin: 0 15px 0 20px;
        top: -135px;
        justify-self: center;
    }
    
    .email-signup span {
        margin: 25px;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    
    #email {
        width: 70vh auto;
        height: 10px;
        border-radius: 45px;
    }

    .email-signup p{
        font-size: 0.8rem;
        font-weight: 400;
        font-style:normal;
        font-family: "Open Sans", sans-serif;
        margin: -20px 100px 20px 100px;
    }
    
    #btn {
        width: 35vh auto;
        padding: 10px;
        border: 2px solid hsl(198, 82%, 57%);
        border-radius: 25px;
    }
    
    .footer-logo {
        margin-left: 120px;
    }
    
    .footer-texts {
        display: flex;
        margin-left: 70px;
    }
    
    .footer-texts ul{
        padding: 11px;
        margin: 15px;
    }

    .footer-texts li a {
        margin: 20px auto;
    }

    .social-icons{
        margin-left: 10px;
        margin-bottom: 65px;
    }

}